body {
    overflow-x: hidden;
}

.imglogo{
    width: 50px;
    height: 50px;
}
.nav_login{
    text-decoration: none;
}
.div_button_login{
    margin: 10px;
}

.imgcarrusel{
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit:cover;


}
.div_main_h1{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.main_article, h2{
    margin: 50px;
    display:inline-flexbox;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.main_section_p{
    p {
        font-size: 1em; /* Ajusta el tamaño de fuente relativo al contenedor */
        line-height: 1.5; /* Mejora la legibilidad */
        margin: 0 10%; /* Márgenes laterales en porcentaje */
    }
    

}
.section_educacion{
    margin: 30px;
}
video{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
iframe{
    display: block;
    margin: 0 auto;
}
footer{
    background-color: #24262b;
    padding: 70px 0;
    display: flex;
}



.footer-col{
   width: 25%;
   padding: 0 15px;
   display:grid;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

